html, body {
  margin: 0 !important;
  padding: 0 !important;
  font-family: Helvetica;
}

/* .typed-cursor{ */
/*   height: 50px; */
/*   opacity: 1; */
/*   -webkit-animation: blink 0.7s infinite; */
/*   -moz-animation: blink 0.7s infinite; */
/*   animation: blink 0.7s infinite; */
/* } */
/* @keyframes blink{ */
/*   0% { opacity:1; } */
/*   50% { opacity:0; } */
/*   100% { opacity:1; } */
/* } */
/* @-webkit-keyframes blink{ */
/*   0% { opacity:1; } */
/*   50% { opacity:0; } */
/*   100% { opacity:1; } */
/* } */
/* @-moz-keyframes blink{ */
/*   0% { opacity:1; } */
/*   50% { opacity:0; } */
/*   100% { opacity:1; } */
/* } */

/* .mainmenu ul{ */
/*   font-size: 1em; */
/* } */

header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: #f5e4b9 url('../images/profile.jpg') no-repeat;
  background-position: bottom left;
  background-origin: content-box;
  background-size: contain;
  width: 100%;
  height: 100vh;
}

header > .headline {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  min-height: 100px;
  margin-right: 15%;
}

.headline h1 {
  letter-spacing: 0.05em;
}

.headline h4 {
  font-weight: 400;
  letter-spacing: 0.1em;
}

.headline h1, h4 {
  margin: 0px auto 10px auto;
}


section {
  min-height: 400px; 
}

section h3 {
  text-align: center;
}

section.inverse {
  background-color: grey;
}

.bord-circle {
  border: 1px solid #222;
  border-radius: 50%;
  padding: 5px;
  margin: 5px;
}

.links a {
  color: #222;
  transition: border-radius 0.5s;
  -webkit-transition: border-radius 0.5s;
}

.links a:hover {
  border-radius: 5px;
}
