/*basic reset*/
* {margin: 0; padding: 0;}
/*adding a black bg to the body to make things clearer*/
body {background: black;}
canvas {display: block;}

.container {
  width: 100%;
  position: absolute;
  top: 50%;
  color: white;
  text-align: center;
}

.main_page {
  background-color: rgba(0, 0, 0, 0.0);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  height: 100%;
}

.nav {
  position: absolute;
  right: 50px;
  margin-top: 20px;
  color: white;
  font-size: 1.7em;
  font-family: Courier;
  list-style-type: none;
  font-weight: bold;
}

.nav li {
  display: inline; 
  margin: 0 10px; 
}

.nav li:hover {
  cursor: pointer;
}

.green {
  color: #0f0;
  text-shadow: 0 0 2px #0f0;
  -webkit-text-shadow: 0 0 2px #0f0;
  -moz-text-shadow: 0 0 2px #0f0;
  -o-text-shadow: 0 0 2px #0f0;
}

.title {
  font-size: 2.3em;
  font-family: "Courier";
  font-weight: bolder;
  border: 3px solid #2F2;
  margin: 3px;
  padding: 3px 0;
  box-shadow: 0 0 5px #4F3;
  -webkit-box-shadow:0 0 5px #4F3;
  -moz-box-shadow: 0 0 5px #4F3;

  text-shadow: 0 0 2px #eee;
  -webkit-text-shadow: 0 0 2px #eee;
  -moz-text-shadow: 0 0 2px #eee;
  -o-text-shadow: 0 0 2px #eee;
}

.typed-cursor{
  height: 50px;
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}
@keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}

.contentarea {
  width: 80%;
  height: 60%;
  padding: 0;
  margin: auto;
  margin-top: 70px;
  background-color: white;
}

.contentarea img {
  height: 100%;
}

.page {
  padding: 0;
  width: 100%;
  height: 100%;
}

=============================
wanky page css
=============================

#intro {
  margin-top: -100%;
  background-color: green;
}

#interests {
  background-color: orange;
}

#contact {
  background-color: #2790aa;
}