body {
	background: #b9c1ff;
}

.center {
	float: none;
	margin-left: auto;
	margin-right: auto;
}

.wordTextArea{
	border:7px solid #ddd;
	height: 300px;
}

.vertical-center-row {
	margin-top: 10%;
}